univ-topic-page {
    .topic-list-pane {
        margin: 32px 0 0 0;

        .topic-list-header,
        .text-headline {
            text-align: center;
        }

        .topic-list-header img {
            max-width: 70px;
            margin: 16px;
        }
    }
}
