univ-topic-page {
    .topic-list {
        margin: 32px 0 0 0;

        .topic-list-header,
        .text-headline {
            text-align: center;
        }

        .topic-list-header img {
            max-width: 70px;
            margin: 16px;
        }

        .card-container {
            margin: 0;

            .docs-card {
                max-width: 300px;
                margin: 8px 16px;
            }
        }
    }
}
