@use 'sass:map';
@use '../base/constant';

@mixin theme($theme) {
    $is-dark-theme: map.get($theme, is-dark);

    .topic-list {
        .topic-pane {
            background-color: if($is-dark-theme, constant.$color-gray-deep, constant.$color-white);

            section {
                color: if($is-dark-theme, constant.$color-cyan, constant.$color-blue);
            }

            p {
                color: if($is-dark-theme, constant.$color-white-off, constant.$color-gray-dark);
            }

            .topic-footer {
                border-top: 0.5px solid if($is-dark-theme, constant.$color-gray-dark, constant.$color-gray-light);
                background-color: if($is-dark-theme, constant.$color-gray-dark, rgba(constant.$color-blue, 0.1));
                color: if($is-dark-theme, constant.$color-blue-powder, constant.$color-blue-dark);
            }
        }
    }

}
