<!-- 使用内容投影，这样提供的HTML代码面板才能拆分为选项卡 -->
<div #content style="display: none">
    <ng-content></ng-content>
</div>

<mat-card>
    <mat-tab-group class="code-tab-group" [disableRipple]="true">
        <mat-tab style="overflow-y: hidden;" *ngFor="let codeTab of codeTabs">
            <ng-template mat-tab-label>
                <span class="{{codeTab.class}}">{{codeTab.header}}</span>
            </ng-template>
            <univ-code class="{{codeTab.class}}"
                       [header]="codeTab.header"
                       [language]="codeTab.language"
                       [linenum]="codeTab.linenum"
                       [path]="codeTab.path"
                       [region]="codeTab.region">
            </univ-code>
        </mat-tab>
    </mat-tab-group>
</mat-card>
