@use '../base/mixin';

univ-feature-page {
    .feature-list-pane {
        margin: 32px 0 0 0;

        .feature-list-header,
        .text-headline {
            text-align: center;
        }

        .feature-list-header img {
            max-width: 70px;
            margin: 16px;
        }

        .feature-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            @media (max-width: 1057px) {
                flex-direction: column;
            }

            .feature-pane {
                max-width: 300px;
                margin: 0 16px;

                @media (max-width: 1057px) {
                    max-width: 100%;
                    padding: 8px 10%;
                }

                @media (max-width: 768px) {
                    padding: 8px 0;
                }

                .feature-title {
                    @include mixin.font-size(18);
                    font-weight: 500;
                    margin: 8px 0;
                    clear: both;
                }

                .feature-content {
                    @include mixin.font-size(14);
                }
            }
        }
    }
}
