@use 'content/extension/styles/base/constant';

@mixin theme($theme) {
    .filetree {
        background: constant.$color-white;
        border: 4px solid constant.$color-gray-light;

        .file {
            color: constant.$color-gray-dark;
        }

        .children {
            .file {
                &:before {
                    border-color: constant.$color-gray-light;
                }
            }
        }
    }
}
