<univ-mixture-banner [title]="title"></univ-mixture-banner>

<article class="center-layout">
    <div #topicPageContent style="display: none">
        <ng-content></ng-content>
    </div>

    <div *ngIf="topicLists && topicLists.length > 0" class="topic-page-pane">
        <div *ngFor="let topicList of topicLists" class="topic-list-pane">
            <div class="topic-list-header">
                <div class="text-headline">{{topicList.title}}</div>
                <img height="70px" alt="" src="content/extension/assets/topic/topic-list.svg">
            </div>

            <univ-topic-list [topics]="topicList.topics"></univ-topic-list>
        </div>
    </div>
</article>
