<header class="marketing-banner">
    <h1 class="banner-headline no-toc no-anchor center full-width">{{title}}</h1>
</header>

<article class="center-layout">
    <!-- 主题页面内容投影元素 -->
    <div #topicPageContent style="display: none">
        <ng-content></ng-content>
    </div>

    <div *ngFor="let topicList of topicLists" class="topic-list">
        <div class="topic-list-header">
            <div class="text-headline">{{topicList.title}}</div>
            <img height="70px" alt="" src="content/extension/assets/topic/topic-list.svg">
        </div>

        <univ-topic-list *ngIf="topicList.topics" [topics]="topicList.topics"></univ-topic-list>
    </div>
</article>
