@use "../base/mixin";

univ-mixture-logo {
    .mixture-logo-background {
        position: absolute;
        width: 100%;
        height: 560px;
    }

    .mixture-logo-section {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 900px;
        height: 480px;
        margin: 0 auto;
        padding: 48px 0 0;

        @media (max-width: 65rem) {
            flex-direction: column;
            justify-content: center;
            padding: 40px 0 32px;
        }

        .mixture-logo-image {
            width: 50%;
            max-width: 450px;
            min-width: 250px;
            max-height: 400px;
            min-height: 220px;
            margin: 20px 0;
        }

        .mixture-logo-pane {
            display: flex;
            flex-direction: column;
            width: 50%;
            max-width: 450px;
            margin: -5% auto 0;

            @media (max-width: 65rem) {
                align-items: center;
                width: 100%;
                max-width: 100%;
            }
        }

        .mixture-logo-content {
            @include mixin.line-height(64);
            @include mixin.font-size(40);
            color: inherit;
            font-weight: 500;
            white-space: pre-line;

            @media (max-width: 65rem) {
                @include mixin.line-height(50);
                @include mixin.font-size(32);
                text-align: center;
            }

            &:after {
                display: none;
            }
        }
    }

    .mixture-logo-button {
        @include mixin.line-height(40);
        @include mixin.font-size(18);
        width: 160px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
        border-radius: 48px;
        box-sizing: border-box;
        padding: 2px 34px 0;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}
