<div class="content">
    <a class="link" target="_blank" rel="noopener" href="#">
        <span class="title">公告标题</span>
        <mat-icon class="icon" aria-label="公告图标">
            <svg width="24" height="24" viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="48" width="240" height="144" fill="#DD0031"/>
            </svg>
        </mat-icon>
        <span class="message">公告内容</span>
    </a>
</div>

<button mat-icon-button class="close-button" aria-label="关闭公告" (click)="closeNotice()">
    <mat-icon svgIcon="icon_close"></mat-icon>
</button>
