@use 'sass:map';
@use 'content/extension/styles/constant';
@use 'node_modules/@angular/material' as mat;

@mixin theme($theme) {
    $background: map.get($theme, background);
    $is-dark-theme: map.get($theme, is-dark);

    table {
        box-shadow: 0 2px 2px rgba(constant.$color-gray-medium, 0.24), 0 0 2px rgba(if($is-dark-theme, constant.$color-white, constant.$color-black), 0.12);
        background-color: if($is-dark-theme, mat.get-color-from-palette($background, background), constant.$color-white);

        thead > {
            tr > th {
                background: if($is-dark-theme, constant.$color-gray-deep, rgba(constant.$color-gray-light, 0.2));
                border-bottom: 1px solid if($is-dark-theme, constant.$color-gray-dark, constant.$color-gray-light);
                color: if($is-dark-theme, constant.$color-white, constant.$color-gray-dark);
            }
        }

        tbody > tr > {
            th,
            td {
                border-bottom: 1px solid if($is-dark-theme, constant.$color-gray-dark, constant.$color-gray-light);
            }

            td {
                tr td:first-child {
                    @media (max-width: 480px) {
                        background-color: constant.$color-gray-light;
                    }
                }
            }

            th {
                background: if($is-dark-theme, constant.$color-gray-deep, rgba(constant.$color-gray-light, 0.2));

                &:not(:last-child) {
                    border-right: 1px solid if($is-dark-theme, constant.$color-gray-dark, constant.$color-gray-light);
                }
            }
        }

        tbody > tr {
            &:last-child td {
                @media (max-width: 480px) {
                    border-bottom: 1px solid if($is-dark-theme, constant.$color-gray-deep, constant.$color-gray-light);
                }
            }
        }
    }
}
