<div class="grid-fluid">
    <div class="footer-block" *ngFor="let navNode of navNodes">
        <div class="footer-block-heading">{{navNode.title}}</div>
        <ul *ngIf="navNode.childNodes && navNode.childNodes.length !== 0">
            <li *ngFor="let childNode of navNode.childNodes">
                <a class="link" [title]="childNode.tooltip" [href]="childNode.url">{{childNode.title}}</a>
            </li>
        </ul>
    </div>
</div>

<p *ngIf="support">
    {{support.label}}：{{support.content}}。
</p>

<p *ngIf="licenses && licenses.length !== 0">
    <span *ngFor="let license of licenses; let index = index">
        {{license.label}}：<a [title]="license.title" [href]="license.url">{{license.content}}</a>{{index === lastLicenseIndex ? '。' : '；'}}
    </span>
</p>
