@use 'sass:map';
@use 'node_modules/@angular/material';
@use 'content/extension/styles/constant';

@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $is-dark-theme: map.get($theme, is-dark);

    mat-toolbar.toolbar {
        @if $is-dark-theme {
            &.mat-primary {
                background: material.get-color-from-palette($primary, darker)
            }
        }

        mat-icon {
            color: constant.$color-white;
        }
    }
}
