@use 'content/extension/styles/base/constant';
@use 'content/extension/styles/base/mixin';

mat-toolbar.toolbar {
    univ-top-menu {
        ul {
            display: flex;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                padding-bottom: 2px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                a.nav-link {
                    margin: 0 4px;
                    padding: 0;
                    cursor: pointer;
                    display: flex;

                    .nav-link-inner {
                        border-radius: 4px;
                        font-size: 1.3rem;
                        font-size: clamp(10px, 1.6rem, 20px);
                        padding: 8px 16px;
                        padding: 8px clamp(5px, 0.7vw, 16px);
                    }

                    &[href^="http:"],
                    &[href^="https:"] {
                        .nav-link-inner {
                            @include mixin.add-external-link-icon();
                        }
                    }

                    &:focus {
                        outline: none;

                        .nav-link-inner {
                            border-radius: 1px;
                        }
                    }
                }

                ul {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    margin-top: 42px;
                    padding: 0;
                    background-color: constant.$color-blue;

                    li {
                        height: 40px;
                        align-items: center;
                        display: flex;
                        padding-bottom: 2px;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        a.nav-link {
                            width: 100%;
                            margin: 0 4px;
                            padding: 0;
                            cursor: pointer;
                            display: flex;

                            .nav-link-inner {
                                width: 100%;
                                border-radius: 4px;
                                font-size: 1.3rem;
                                font-size: clamp(10px, 1.6rem, 20px);
                                padding: 8px 16px;
                                padding: 8px clamp(5px, 0.7vw, 16px);
                            }

                            &[href^="http:"],
                            &[href^="https:"] {
                                .nav-link-inner {
                                    @include mixin.add-external-link-icon();
                                }
                            }

                            &:focus {
                                outline: none;

                                .nav-link-inner {
                                    border-radius: 1px;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
