mat-toolbar.toolbar {
    .page-mixture-index & {
        @media (min-width: 481px) {
            &:not(.transitioning) {
                background-color: transparent;
                box-shadow: none;
                position: absolute;
                transition: background-color 0.2s linear;
            }
        }
    }

    //.page-mixture-index & univ-top-menu { TODO 调整主页二级菜单背景透明
    //    ul {
    //        li {
    //            &:hover {
    //                ul {
    //                    @media (min-width: 481px) {
    //                        &:not(.transitioning) {
    //                            background-color: transparent;
    //                            box-shadow: none;
    //                            position: absolute;
    //                            transition: background-color 0.2s linear;
    //                        }
    //                    }
    //                }
    //            }
    //        }
    //    }
    //}
}
