@use 'sass:map';
@use 'node_modules/@angular/material';
@use 'content/extension/styles/constant';

@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $is-dark-theme: map.get($theme, is-dark);

    mat-toolbar.toolbar {
        .page-mixture-index & {
            background: if($is-dark-theme, material.get-color-from-palette($primary, darker), constant.$color-blue);
        }
    }
}
